<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<!--SESSION FACTORY-->
	<session-factory>
		
		<!-- Database connection settings-->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hibernate-pratica</property>
        <property name="hibernate.connection.username">suser</property>
		<property name="connection.password">1</property>
		<property name="connection.pool_size">10</property>
		
		<!-- SQL dialect-->
<!--		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>-->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		
		<!-- DROP and then CREATE schema when SessionFactory is built
		and then DROP it again when SessionFactory is closed-->
		<property name="hbm2ddl.auto">create-drop</property>
		
		<!-- Echo all executed SQL to the console-->
		<property name="show_sql">true</property>
		
		<!--XML-BASED MAPPING-->
<!--		<mapping resource="domain/Message.hbm.xml"/>-->

		<!--ANNOTATION-BASED MAPPING-->
		<mapping class="entity.Message"/>
		<mapping class="entity.Person"/>
		
	</session-factory>
</hibernate-configuration>